body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
h1{
   font-size: 50px;
}
button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color:white;
}
#increment{
    background-color: green;
}
#decrement{
    background-color:red;
}
#reset{
    background-color:grey;
}